# Prowlarr configuration
PROWLARR_URL=http://your-prowlarr-host:9696
PROWLARR_API_KEY=your-prowlarr-api-key
PROWLARR_STRICT_ID_MATCH=false  # Set to 'true' to disable text-based fallback searches (only use IMDb/TVDB/TMDB IDs)

# Addon metadata 
ADDON_BASE_URL=https://your-addon-domain  # Need to be publicly accessible and secure (HTTPS)


# NZBDav configuration
NZBDAV_URL=http://localhost:3000
NZBDAV_API_KEY=your-nzbdav-api-key
NZBDAV_WEBDAV_URL=http://localhost:3000
NZBDAV_WEBDAV_USER=webdav-username
NZBDAV_WEBDAV_PASS=webdav-password

REDIS_URL=redis://redis-host:6379


NZB_CHECK_URL=https://nzbcheck.filmwhisper.dev
NZB_CHECK_API_KEY=SUPER_SECURE_KEY_NO_ONE_KNOWS
## Generate your own key by sending a POST request to: https://nzbcheck.filmwhisper.dev/api-key


