# Choose either Prowlarr or NzbHydra2 for indexer management

# Prowlarr configuration
#PROWLARR_URL=http://your-prowlarr-host:9696
#PROWLARR_API_KEY=your-prowlarr-api-key

## CAN WORK WITH NZBHYDRA2 IF YOU USE THESE ENVS
#NZBHYDRA_URL=http://your-nzbhydra-host:5076
#NZBHYDRA_API_KEY=your-nzbhydra-api-key

# Addon metadata 
ADDON_BASE_URL=https://your-addon-domain  # Need to be publicly accessible and secure (HTTPS)

# Also supports altMount. Read the README for details.
# NZBDav configuration
NZBDAV_URL=http://localhost:3000
NZBDAV_API_KEY=your-nzbdav-api-key
NZBDAV_WEBDAV_URL=http://localhost:3000
NZBDAV_WEBDAV_USER=webdav-username
NZBDAV_WEBDAV_PASS=webdav-password

REDIS_URL=redis://redis-host:6379


NZB_CHECK_URL=https://nzbcheck.filmwhisper.dev
NZB_CHECK_API_KEY=SUPER_SECURE_KEY_NO_ONE_KNOWS
## Generate your own key by sending a POST request to: https://nzbcheck.filmwhisper.dev/api-key


