services:

  prowlarr:
    image: lscr.io/linuxserver/prowlarr
    container_name: prowlarr
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ./config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - media

  usenetstreamer:
    image: ghcr.io/sanket9225/usenetstreamer:latest
    container_name: usenetstreamer
    restart: unless-stopped
    depends_on:
      prowlarr:
        condition: service_healthy
    ports:
      - "7000:7000"
    environment:
      PROWLARR_URL: "http://prowlarr:9696"
      PROWLARR_API_KEY: "key"
      NZBDAV_URL: "http://nzbdav:3000"
      NZBDAV_API_KEY: "key"
      NZBDAV_WEBDAV_URL: "http://nzbdav:3000"
      NZBDAV_WEBDAV_USER: "user"
      NZBDAV_WEBDAV_PASS: "password"
      ADDON_BASE_URL: "https://usenet-streamer.inter.domain.rocks"
    networks:
      - media

  nzbdav:
    image: nzbdav/nzbdav:alpha
    container_name: nzbdav
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      PUID: "1000"
      PGID: "1000"
    volumes:
      - ./nzbdav:/config
    networks:
      - media

networks:
  media:
    driver: bridge

  
