services:

  prowlarr:
    image: lscr.io/linuxserver/prowlarr
    container_name: prowlarr
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ./config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - media

  usenetstreamer:
    image: ghcr.io/sanket9225/usenetstreamer:latest
    container_name: usenetstreamer
    restart: unless-stopped
    depends_on:
      prowlarr:
        condition: service_healthy
    ports:
      - "7000:7000"
    env_file:
      - .env
    networks:
      - media

## Have your pick of nzbDav or altMount

  altmount:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    image: ghcr.io/javi11/altmount:latest
    container_name: altmount
    environment:
      - PUID=1000
      - PGID=1000
      - PORT=8080
      - COOKIE_DOMAIN=192.168.0.207
    volumes:
      - ./config:/config
     # - /mnt:/mnt:rshared # Linux only - see Rclone Mount section for macOS/Windows
    restart: unless-stopped
    networks:
      - media

  redis:
    image: redis:8.2.3-alpine
    container_name: usenet_redis
    networks:
      - media
    restart: unless-stopped

  nzbdav:
    image: nzbdav/nzbdav:alpha
    container_name: nzbdav
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      PUID: "1000"
      PGID: "1000"
    volumes:
      - ./nzbdav:/config
    networks:
      - media

networks:
  media:
    driver: bridge

  
