services:
  usenetstreamer:
    image: ghcr.io/mkcfdc/usenetstreamer:latest
    restart: unless-stopped
    depends_on:
      nzbdav:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - usenet-data:/app/data
    ports:
      - "7000:7000"
    env_file:
      - .env
    networks:
      - media
  ### YOU ONLY NEED THE FRONTEND FOR CONFIGURATION.... AFTER YOUR CONFIGURED, YOU CAN REMOVE IT.
  usenetstreamer-frontend:
    image: ghcr.io/mkcfdc/usenetstreamer-frontend:latest
    restart: unless-stopped
    depends_on:
      usenetstreamer:
        condition: service_started
    volumes:
      - usenet-data:/app/data
    ports:
      - "8000:8000"
    networks:
      - media
  redis:
    image: redis:8.2.3-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - media
    restart: unless-stopped

## YOU CAN USE Prowlarr OR NZBHydra2 AS YOUR USENET INDEXER. REMOVE ONE IF NOT IN USE.
## Remove both if you plan to use the direct api method with manage cli tool.

  prowlarr:
    image: lscr.io/linuxserver/prowlarr
    container_name: prowlarr
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ./config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - media


## Have your pick of nzbDav or altMount or direct api using the manage cli tool. Details in README.
## Both cannot be used at the same time.

  altmount:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    image: ghcr.io/javi11/altmount:latest
    container_name: altmount
    environment:
      - PUID=1000
      - PGID=1000
      - PORT=8080
      - COOKIE_DOMAIN=192.168.0.207
    volumes:
      - ./config:/config
    restart: unless-stopped
    networks:
      - media

  nzbdav:
    image: nzbdav/nzbdav:alpha
    container_name: nzbdav
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "3000:3000"
    environment:
      PUID: "1000"
      PGID: "1000"
    volumes:
      - ./nzbdav:/config
    networks:
      - media

networks:
  media:
    driver: bridge
volumes:
  usenet-data: